.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/core-plugins-migration.json
.trash/
.DS_Store
# 忽略所有常见的图片格式
Daily_Paper/**/*.jpg
Daily_Paper/**/*.jpeg
Daily_Paper/**/*.png
Daily_Paper/**/*.gif
Daily_Paper/**/*.bmp
Daily_Paper/**/*.svg
Daily_Paper/**/*.tiff
Daily_Paper/**/*.tif
Daily_Paper/**/*.webp